<!--      alert box for show error       -->
<div class="alert" *ngIf="wrong === 'yes'">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Danger!</strong>  {{this.errorMsg.error}}
</div>
<!--   Login page        -->
<!--   This login page for both admin login as well user login-->
<div class="container w-50 my-4 accesss logincolor">
  <form>
    <div class="form-group">
      <label for="emailId">Email address</label>
      <input type="emailId" [(ngModel)]="Useraccess.emailId" class="form-control" id="loginemailId" aria-describedby="emailHelp" name="emailId">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="Useraccess.password" class="form-control" id="loginpassword" name="password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="login(Useraccess)">Login</button>
    <!-- user not register click on register - rount on register page -->
    <button type="submit" class="btn btn-primary" routerLink="/register">Register</button>
      <!-- <button type="submit" class="btn btn-primary" (click)="Tokensender()">Token</button> -->
  </form>
</div>
