<div class="container-fluid" >
  <div class="row">
    <div class="col-md-4 col-sm-4 ">
      <div class="card">
        <div class="row">
         <div class="col-md-4">
          <img class="img-fluid" src="http://192.168.1.129:8095/musicguru/get/VidyaVoxx.jpg" alt="Card image cap">
         </div>
        <div class="col-md-8">

          <!--  show song name-->
          <div style="padding:20px;">
          <p ><strong>Song Name-:&nbsp;</strong>Tere Naam</p>
          <!--  show the singername name -->
          <p ><strong>Singer Name-:&nbsp;</strong>7 ***</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 ">
      <audio controls controlsList="nodownload" style="width:400px;background-color: #95B9C7;">
       <source style="background-color: #95B9C7;" src="https://www.w3schools.com/tags/horse.mp3" type="audio/mpeg">
      </audio>
     </div>
     </div>
  </div>
</div>
</div>
</div>
