<!-- contact form to update user details into monogo db -->
<section id="contact" class="content-section text-center">
  <div class="contact-section">
    <div class="container">
      <h2>Contact us</h2>
      <!-- show message on submit  -->
      <!-- <div class="alert" *ngIf="correct === 'yes'">
        <span class="closebtn" onclick="this.parentElement.style.display='none';"></span>
        <strong>Thanks sir ! </strong> Our Team will contact you
      </div> -->
      <div class="row">
        <div class="col-md-8 mx-auto">
          <form class="form-horizontal" #contForm="ngForm" class="contact" (ngSubmit)="Usercontact(userData)">

            <div class="form-group">
              <!-- taking user details into userData Object -->
              <label for="exampleInputName">Name</label>

              <!-- <input type="email" class="form-control" id="exampleInputEmail1" name="name" [(ngModel)]="userData.name" aria-describedby="emailHelp" > -->

              <input class="form-control" [(ngModel)]="userData.name" type="name" name="name" id="exampleInputPassword2" pattern="[a-zA-Z\s]+" required  #name='ngModel'>
              <div *ngIf="name.invalid" class="text-danger">
                <div *ngIf="name.errors?.required && name.touched">
                  Name is required
                </div>
                <div *ngIf="name.errors?.pattern && name.touched">
                  Enter valid Name
                </div>
                <div *ngIf="name.untouched && name.touched">
                  Name is required
                </div>
              </div>

            </div>


            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>

              <input class="form-control" [(ngModel)]="userData.email" type="email" name="email" id="exampleInputPassword1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required  #email='ngModel'>
              <div *ngIf="email.invalid" class="text-danger">
                <div *ngIf="email.errors?.required && email.touched">
                  EmailId is required
                </div>
                <div *ngIf="email.errors?.pattern && email.touched">
                  Enter valid EmailId
                </div>
                <div *ngIf="email.untouched && email.touched">
                  EmailId is required
                </div>
              </div>

              <!-- <input class="form-control"   name="email"  [(ngModel)]="userData.email"> -->
            </div>




            <div class="form-group">

              <label for="exampleInputEmail2">Subject</label>
              <input class="form-control" [(ngModel)]="userData.subject" type="subject" name="subject" id="exampleInputPassword3" pattern="[a-zA-Z\s]+" required  #subject='ngModel'>
              <div *ngIf="subject.invalid" class="text-danger">
                <div *ngIf="subject.errors?.required && subject.touched">
                  Subject is required
                </div>
                <div *ngIf="subject.errors?.pattern && subject.touched">
                  Enter valid Subject
                </div>
                <div *ngIf="subject.untouched && subject.touched">
                  Subject is required
                </div>
              </div>

            </div>




            <div class="form-group ">
              <label for="exampleInputText" >Your Message</label>

              <textarea  class="form-control" name="message" type="message"  id="exampleInputPassword4" [(ngModel)]="userData.message" pattern="[a-zA-Z\s]+" required  #message='ngModel'></textarea>

              <!-- <input class="form-control" [(ngModel)]="userData.subject" type="subject" name="subject" id="exampleInputPassword3" pattern="[a-zA-Z0-9\s]+" required  #subject='ngModel'> -->
              <div *ngIf="message.invalid" class="text-danger">
                <div *ngIf="message.errors?.required && message.touched">
                  Message is required
                </div>
                <div *ngIf="message.errors?.pattern && message.touched">
                  Enter valid Message
                </div>
                <div *ngIf="message.untouched && message.touched">
                  Message is required
                </div>
              </div>

            </div>


            <button   [disabled]="!contForm.form.valid"  [class.disabled]="!contForm.form.valid" name="submit" type="submit" class="btn btn-default" id="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
