<!--  starting of footer section-->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!-- heading available pages on website -->
        <h4>Pages</h4>
        <ul>
          <li><a routerLink="/commingsoon">About us</a></li>
          <li><a routerLink="/commingsoon">Terms and conditions</a></li>
          <li><a  routerLink="/feedback">Feedback</a></li>
          <li><a routerLink="/contact">Contact us</a></li>
        </ul>
        <hr>
        <!-- login and register option will also available here -->
        <h4>User section</h4>
        <ul>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
        </ul>
        <!--____hide content from medium not small__-->
        <hr class="hidden-md hidden-lg hidden-sm">
      </div>
      <!--____________ col-md-3 ________________-->
      <div class="col-md-3 col-sm-6">
        <h4>Top Songs</h4>
        <ul>
          <li><a routerLink="/commingsoon">Pop songs</a></li>
          <li><a routerLink="/commingsoon">Love songs</a></li>
          <li><a routerLink="/commingsoon">Sad songs</a></li>
        </ul>
        <h4>Categories</h4>
        <ul>
          <li><a routerLink="/toprated">Weekly top</a></li>
          <li><a routerLink="/toprated">Popular</a></li>
          <li><a routerLink="/commingsoon">Most view</a></li>
          <li><a routerLink="/commingsoon">Most Likes</a></li>
        </ul>
        <hr class="hidden-md hidden-lg">
      </div>
      <!-- ____________col-md-3 _______________-->
      <div class="col-md-3 col-sm-6">
        <h4>Where to find us</h4>
        <p class="address"><strong>Knight Learning Solutions</strong>
          <br>D-242 Noida
          <br>Uttarpradesh
          <br>201301
          <br>India
          <br>
        </p>
        <hr class="hidden-md hidden-lg">
      </div>
      <!--_______________col-md-3 _____________-->
      <div class="col-md-3 col-sm-6">
        <h4>Get the news</h4>
        <p >A great site to see your entertenment.</p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">SUBMIT</button>
            </span>
          </div>
          <!-- ________input-group clos_______ -->
        </form>
        <hr>
        <!-- __________social icons__________-->
        <h4>Stay in touch</h4>
        <i class="fa fa-facebook fa-1x"></i>
        <i class="fa fa-twitter fa-1x"></i>
        <i class="fa fa-youtube fa-1x"></i>
        <i class="fa fa-instagram fa-1x"></i>
      </div>
      <!-- _______col-md-3 ____________-->
    </div>
    <!--_________row ends here______-->
  </div>
  <!-- __container Ends here___ -->
</div>
<!-- ____*** FOOTER END ***______ -->
